/* 
    Created on : 14 dic 2021, 13:49:31
    Author     : USUARIO
*/

    h3{
        color: #004e71;
        text-align: center;
        font-family: Arial;
        text-decoration: underline;
        background-color: #60b8ad;
    }
    
    table{
        margin: 0 auto;
    }
    
    th{
        font-family: Calibri;
        text-align: center;
        color: white;
        font-style: oblique;
        font-weight: bolder;
        background-color: grey;
    }
    
    td{
        font-family: Calibri;
        color: #60b8ad;
        font-weight: 500;
        text-align: center;
    }
    
    .colorcito{
        background-color: beige;
    }